<% title "My Profile" %>

<div class="profile-wrapper">
  <div class="profile-page-image">
    <%= image_tag  @user.profile_img.url(:medium ) %>
    <!-- Social-Icons -->
    <ul class="social-icons clean-list">
      <li>
        <% if @user.steam != "" %>
        <a href="<%= "http://steamcommunity.com/id/#{@user.steam}" %>" target="_blank">
          <i class="fa fa-steam"></i>
        </a>
        <% else %>
        <i class="fa fa-steam social-off"></i>
        <% end %>
      </li>

      <li class="xbox">
        <% if @user.xbox %>
        <a href="<%= "https://account.xbox.com/en-US/Profile?gamerTag=#{(@user.xbox).gsub(" ", "+")}" %>" target="_blank">
          <i class="fi fi-social-xbox"></i>
        </a>
        <% else %>
          <i class="fa fi-social-xbox social-off"></i>
        <% end %>
      </li>

      <% if @user.psn != "" %>
      <li class="psn">
        <a href="<%= "https://my.playstation.com/#{@user.psn}" %>" target="_blank">
          <%= image_tag("psn.png", id: "psn-img") %>
        </a>
      </li>
      <% else %>
      <li class="psn social-off">
        <%= image_tag("psn.png", id: "psn-img") %>
      </li>
      <% end %>

      <li>
        <% if @user.twitch != "" %>
        <a href="<%= "http://steamcommunity.com/id/#{@user.twitch}" %>" target="_blank">
          <i class="fa fa-twitch"></i>
        </a>
        <% else %>
        <i class="fa fa-twitch social-off"></i>
        <% end %>
      </li>
    </ul>
  </div>

  <div class="profile-details">
    <div id="user_name" class="user-name">
      <%= @user.username %>

      <% if current_user %>
        <% if current_user.id == @user.id %>
          <%= link_to "[Edit]", edit_user_path(@user), id: "edit_profile" %>
        <% end %>
      <% else %>
        <%= flash[:notice] = "Sign in to edit" %>
      <% end %>

    </div>
    <p>
      <span>First Name: </span>
      <%= @user.first_name %>
    </p>
    <p>
      <span>Last Name: </span>
      <%= @user.last_name %>
    </p>
    <p>
      <span>City: </span>
      <%= @user.city %>
    </p>
    <p>
      <span>State: </span>
      <%= @user.state %>
    </p>
    <p id="bio">
      <p><span>About Me: </span></p>
      <%= @user.bio %>
    </p>





    <%# @user.events.each do |event| %>
      <%#= event.name %>
      <%#= link_to "Event", event_path(event) %>
    <%# end %>


      <% @users_games.each do |game|%>
        <div class="profile-game">
          <% if @user == current_user %>
          <div class="profile-games">
            <%#= link_to game.title, "#{@user.id}/#{game.id}", method: :delete, data: {confirm: 'Are you sure you want to delete this game?'} %> <br />
            <%= image_tag(game.image, class: "profile-game-img") %>
            <%= button_to "Remove", "#{@user.id}/#{game.id}",
            method: :delete, data: {confirm: 'Are you sure you want to delete this game?'},
            class: "remove-game-btn" %>
          <% else %>
            <%= image_tag(game.image, class: "profile-game-img") %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="clear-fix"></div>

    <div>
      <%#= link_to 'Nearby Users', users_path%>
    </div>

  </div>
</div>
