<% title "Sign In" %>
<!-- <div class="sign-in-page"> -->
<div class="devise-wrapper">
  <div class="devise-container">


    <h1>Welcome to the </h1>
    <h1>Local Gamers Network</h1>
     <h3>Bringing Gamers Together IRL</h3>
    <!-- <h2 class="signin">Log in to LGN</h2> -->
    <div class="nice">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password"  %>
        </div>

        <!-- <%# if devise_mapping.rememberable? -%>
          <div class="checkbox">
            <%#= f.check_box :remember_me %>
            <%#= f.label :remember_me %>
          </div>
        <%# end -%> -->

        <div class="actions">
          <%= f.submit "LogIn" %>
        </div>
        <button type="submit" id="login-button">SignUp</button>
      </div>
      <% end %>
    <div class="whit-btn">
    <%= button_to "SignUp",  { action: "new", controller:"devise/registrations" }, id: "signup_btn", method: :get %>
  </div>
  <%= render "devise/shared/links" %>
  </div>
</div>
